services:
  api:
    container_name: api
    build:
      context: ./api
      dockerfile: Dockerfile
    env_file:
      - ./api/.env
    ports:
      - '8080:8080'
    depends_on:
      - postgres

  postgres:
    image: pgvector/pgvector:0.8.0-pg16
    environment:
      POSTGRES_DB: markoub_db
      POSTGRES_USER: markoub_db
    env_file:
      - .env.postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U markoub_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: